* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  background: #f4f4f4;
}

/* HEADER */

.wrapper-header {
  display: flex;
  align-items: center;
  height: 10vh;
  background: #fff;
  box-shadow: 2px 0 15px #555;
  width: 100%;
}

/* NAVBAR */

.logo {
  display: inline-block;
  height: 100%;
  width: 88%;
  margin: 2px 0 2px 8%;
  padding: 3px;
  text-align: left;
}

.logo img {
  height: 100%;
  width: auto;
}

.menu-items {
  width: auto;
  padding: 5px;
}

.menu-list {
  display: none;
  position: fixed;
  right: 0;
  top: 10vh;
  padding: 5px;
  width: 300px;
  height: 76vh;
  background: #fff;
}

.nav-items {
  list-style: none;
}

.nav-item a {
  color: #555;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  font-size: 90%;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: font-weight 0.1s, font-size 0.5s;
}

.nav-item a:hover {
  color: #000;
  font-weight: 550;
  font-size: 100%;
}

.nav-item {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.icon-opener {
  text-align: right;
  padding: 5px;
  margin: 5px;
}

.fas {
  cursor: pointer;
  font-size: 150%;
}

.fa-times {
  transition: all 1s;
}

.fa-times:hover {
  color: rgba(194, 22, 22, 0.747);
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 9.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #999999;
  z-index: -1;
}

.wrapper-footer {
  text-align: center;
}

.icons {
  color: #fff;
  text-decoration: none;
}

.icon-items {
  list-style: none;
}

.icon-item {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
}

.icon-wrapper {
  text-align: center;
  font-size: 100%;
}

.designer {
  font-weight: 500;
  font-size: 70%;
  margin-bottom: 10px;
  color: #fff;
}

.contact-mail {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: all 1s;
}
.contact-mail:hover {
  color: #be6135;
}

.fa-facebook-square,
.fa-envelope,
.fa-instagram,
.fa-user,
.fa-mobile-alt,
.fa-viber {
  transition: all 1s;
  font-size: 90%;
}

.fa-facebook-square:hover,
.fa-user:hover {
  color: #3b5998;
}

.fa-envelope:hover {
  color: #d44638;
}

.fa-instagram:hover {
  color: #cd486b;
}

.fa-mobile-alt:hover {
  color: rgb(49, 153, 148);
}

.fa-viber:hover {
  color: #59267c;
}

/* BODY */

.images {
  height: 80vh;
  margin: 0.7vh 0 0.7vh 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.image {
  width: auto;
  height: 100%;
  margin: 0 10px 0 10px;
  box-shadow: 0 0 5px #555;
  border-radius: 3px;
}

.image:hover {
  cursor: zoom-in;
}

/* DEFAULT PAGE */

.default-page {
  height: 76.5vh;
  margin: 1vh 0 1vh 0;
}

.default {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.default h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 250%;
}

.default h1 span {
  color: red;
  text-transform: lowercase;
}

/* SCROLLER */
/* width */
::-webkit-scrollbar {
  display: none;
}

/* BIOGRAPHY */
#aligner {
  height: 76.5vh;
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  text-align: center;
}

.user-image {
  text-align: center;
}

.user-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 15px #555;
}

.user-bio {
  display: inline-block;
  overflow-y: scroll;
  text-align: justify;
  height: 250px;
  width: 60vw;
  padding: 5px;
  margin: 10px;
  font-size: 80%;
  letter-spacing: 0.6px;
}

/* width */
.user-bio::-webkit-scrollbar {
  display: inherit;
  width: 10px;
}

/* Track */
.user-bio::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.user-bio::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.user-bio::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* CONTACT */

.contact-info {
  text-align: center;
  padding: 5px;
}

.info-p {
  margin: 10px;
  padding: 5px;
}

.contact-items {
  list-style: none;
}

.contact-item a,
.number {
  text-decoration: none;
  color: #999999;
  font-size: 100%;
  font-weight: 500;
  transition: font-weight 0.1s, font-size 0.5s, color 0.5s, letter-spacing 0.3s;
}

.number {
  font-size: 95%;
}

.contact-item a:hover,
.number:hover {
  font-weight: 600;
  font-size: 120%;
  letter-spacing: 1px;
  color: #222;
}
